body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.trans{
    transition: all .13s ease;
}
.trans2 {
    transition: all .3s ease
}
.loginpage {
    max-height: 100vh;
    margin-left: 30px;

}
@media (min-width: 320px) {
    .loginpage {
        width: 95%;
    }
}
@media (min-width: 420px) and (max-width:1599.99px) {
    .loginpage {
        width: 410px;
    }
}
@media (min-width:1200px) {
    .feedsection {
        width: 1200px
     }
     .postimage {
        min-height: max-content;
        height: 500px;
        width: 100%;
    }
}
img {
    user-select: none;
}
@media (min-width: 1600px) {
    .loginpage {
        width: 500px;
    }
}
button:disabled,
button[disabled] {

    opacity: .5;

}
.margined {
    margin-left:  3vw;
}
.margined2 {
    margin-right: 3vw;
}
.transed {
    transition: all 0.4s ease-in-out;
}
.rotated {   
    transform: rotate(180deg)
}
.userP {
    transform: translateY(-40%);
}
.EditProfileBTN {
    transform: translateY(-70%);
}
.translated {
    transform: translateX(50%);
}


